<phpunit bootstrap="tests/bootstrap/phpunit.php"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
        >
    <testsuites>
        <testsuite name="helpers">
            <directory>tests/unit</directory>
        </testsuite>
    </testsuites>
</phpunit>