<phpunit bootstrap="tests/bootstrap/phpunit.php"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
        >

    <testsuites>
        <testsuite name="helpers">
            <directory>tests/unit</directory>
        </testsuite>
    </testsuites>

    <!-- Whitelisting the source files that should be analized for test coverage -->
	<whitelist processUncoveredFilesFromWhitelist="true">
		<directory suffix=".php">./</directory>
		<exclude>
			<directory suffix=".php">./tests</directory>
			<directory suffix=".php">./vendor</directory>
		</exclude>
	</whitelist>
    
</phpunit>